<header>
    <nav class="navbar" aria-label="Navegación principal">
        <div class="navbar__inner">
        <ul class="navbar__list">
            <a class="navbar__link navbar__link--logo" href="/">
            <img src="/uploads/JA-Logo.png" alt="Logo del sitio" class="navbar__logo-inline">
            </a>
            <li><a class="navbar__link <%= activeRoute === 'inicio' ? 'is-active' : '' %>" href="/">Inicio</a></li>
            <li><a class="navbar__link <%= activeRoute === 'consultar' ? 'is-active' : '' %>" href="/consultar">Consultar id</a></li>
            <li><a class="navbar__link <%= activeRoute === 'crear' ? 'is-active' : '' %>" href="/crear">Crear</a></li>
            <li><a class="navbar__link <%= activeRoute === 'modificar' ? 'is-active' : '' %>" href="/modificar">Modificar</a></li>
            <li><a class="navbar__link <%= activeRoute === 'eliminar' ? 'is-active' : '' %>" href="/eliminar">Eliminar</a></li>
        </ul>
        </div>
    </nav>
</header>
